:root {
  --color-primary: #10182f;
  --color-text: #545d7a;
  --color-white: #fff;
  --color-title: #242e4c;
  --color-background: darkslategrey;
  --color-border: #dae1f5;

  --font-family: "Satoshi", sans-serif;
  --fs-sm: 1.4rem;
  --fs-md: 1.6rem;
  --fs-lg: 2.2rem;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --transition: 0.4s ease-in-out;
  --shadow: 0px 60px 56px -12px rgba(9, 40, 163, 0.05);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1D1D1D;
  font-family: var(--font-family);
  color: var(--color-text);
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
}

.container_accirdion {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  place-items: center;
}

.accordion__wrapper5 {
  /* background-color: var(--color-white); */
  /* box-shadow: var(--shadow); */
  /* border-radius: 2.5rem; */
  width: 100%;
  max-width: 950px;
  padding: 5rem;


}

.accordion__title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  /* color: var(--color-title); */
  color: #fff;
  text-align: center;
  margin-bottom: 5rem;
}

.accordion5 {
  padding: 2rem;
  margin-bottom: 3rem;

  border-top: 1px solid silver;
  border-left: 1px solid silver;
  border-radius: 10px;
  background: rgba(200, 200, 200, 0.1);
  backdrop-filter: blure(7px);
  box-shadow: 4px 4px 4px rgba(68, 68, 68, 0.6);
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.accordion__icon {
  /* background-color: var(--color-primary); */
  background-color: #1D1D1D;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  flex-shrink: 0;
}

.accordion__question {
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  /* color: var(--color-title); */
  color: #fff;
}

.accordion__answer {
  padding: 2rem 0;
  color: #fff;
}

.accordion__content {
  overflow: hidden;
  height: 0;
  transition: var(--transition);
}

@media screen and (min-width: 580px) {
  .accordion__wrapper {
    padding: 5rem 8rem;
  }
}